.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container > div {
  padding: 20px 35px;
}

.title-engine,
.description-engine {
  width: 300px;
  padding: 5px 0px;
}

.to-hide {
  color: #d3d3d3;
}

.create-button {
  padding: 5px 15px;
}
