.ModalWindow {
  background-color: white;
  position: fixed;
  top: 30%;
  padding: 20px;
  width: 380px;
  margin-left: 2%;
  text-align: left;
}

.modal-title {
  margin-top: 0px;
  text-align: center;
  font-weight: bold;
  font-size: 19px;
}

.modal-description {
  font-weight: bold;
}

.modal-description-text {
  white-space: break-spaces;
}

.close-btn {
  padding: 5px, 10px;
}
