.mainTaskTitles,
.yourTask {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main {
  padding: 55px 70px 1px 70px;
  max-width: 300px;
  font-weight: bold;
}

.yourTask {
  background-color: #a5a5a5;
  max-width: 765px;
}

.task-line {
  padding: 15px 60px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80px;
  overflow: hidden;
}

.id-main {
  margin-left: -10px;
}

.title-main {
  margin-left: -65px;
}

.status-main {
  margin-left: 40px;
}

.modal-window {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
}

.modal-window {
  z-index: -1;
}
